@import "variables.scss";
@import "Base.scss";

.page-viewer-container {
  height: max-content;
  width: 100%;
  direction: $dir;
  text-align: $textalign;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  .page-viewer-back {
    text-decoration: none;
  }

  p {
    line-height: 35px;
  }

  $pageViewerTitleHeight: 80px;

  .page-viewer-title {
    @extend .ls-title-1;
    text-decoration: none;
    padding-right: 50px;
    height: $pageViewerTitleHeight;
    text-align: center;
    color: orange;
  }

  .page-viewer-header-img {
    border-radius: 25px;
    border: 5px rgb(66, 76, 228) solid;
    height: 150px;
    position: absolute;
    top: calc(#{$pageViewerTitleHeight} - 70px);
    right: 100px;
    // left: calc((100vw / 2 ) - 75px);
    background-color: #ffffff;
  }

  .page-viewer-wrapper {
    border-radius: 35px;
    border-top: 5px rgb(66, 76, 228) solid;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(67vh);

    .page-viewer-sidebar {
      display: none;
      width: 20%;
      height: 20vh;
      min-height: 200px;
      border: 1px solid gray;
      position: sticky;
      top: 80px;
      padding: 20px;
      margin-right: 20px;

      li {
        font-weight: 800;
      }
      .page-viewer-caterory-selected {
        border-bottom: 1px gray solid;
        font-style: italic;
      }
    }

    .page-viewer-body {
      // width: 75%;
      width: 100%;
      padding: 20px;

      font-weight: 500;
      height: max-content;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      h4 {
        text-align: center;
      }
      .page-viewer-go-up1 {
        position: sticky;
        display: block;
        left: 0px;
        bottom: 0px;
      }
    }
  }
}

@media (max-width: 600px) {
  .page-viewer-container {
    .page-viewer-back {
      top: 60px;
      left: 15px;
      // font-size: 14px;
      width: max-content;
    }
    .page-viewer-body {
      display: block;
      text-align: justify;
      padding: 10px;
    }
    .page-viewer-header-img {
      height: 100px;
      border: 4px rgb(66, 76, 228) solid;
      right: 20px;
      top: 30px;
    }
  }
}
